body {
  font-family: Helvetica, Verdana, sans-serif;
  line-height: 1.5em;
  height: 100%;
}

#debugContainer {
  padding: 1em;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  .left {
    width: 600px;
    flex-shrink: 0;
  }
  .right {
    flex-grow: 1;
  }
}

#imageContainer {
  height: 600px;
  position: relative;
  //background: linear-gradient(45deg, #EEE 50%, #DDD 50%);
  //background-size: 20px 20px;
  overflow: hidden;
  img {
    width: 100%;
  }
  .mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: rgba(0, 0, 0, 0.6);
  }
  .canvas {
    position: absolute;
    left: 50%;
    margin-left: -225px;
    top: 50%;
    margin-top: -150px;
  }
  .backgroundImage {
    z-index: -2;
    position: absolute;
  }
}

#debugContainer {
  p {
    margin: 0;
    padding: 0;
  }
}
